---
const id = Astro.props.id;
---

<div class="text-center" id={id} >
    <small><i>Advertisement</i></small>
    <div  style='min-width: 250px; min-height: 250px;' >
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-4562433335749182"
            data-ad-slot="1706432948"
            data-ad-format="auto"
            data-full-width-responsive="true">
        </ins>
        <script>
            
           
         
          </script>
    </div>
</div>

