---
import { menu } from "../../db";
---

<header class="text-xl" >
    <nav id="nav ">
        <ul id="menus">
          <li class="logo">
            <a href="/">
              <span class="logoSpan text-2xl px ">
                U.S.A Canada Travel
              </span>
            </a>
          </li>
          <li
            class="menu-icon close"
            
          >
          <span class="icons flex gap-1 rotate-90  text-xl align-center">
            <span class="-[100%]">|</span>
            <span class="h-[100%">|</span>
            <span class="h-[100%">|</span>
          </span>
          <span class="icons hidden">CLOSE</span>
           
        </li>
       
            <ul class={`secondary offEl`}>
              {menu.map((menuItem, i) => (
                <li >
                  <a
                    href={menuItem.path}
                  >
                    {menuItem.name}
                  </a>
                </li>
              ))}
            </ul>
     
        </ul>
      </nav>

</header>

<script>
    const logo = document.querySelector('li.logo');
    const menuIcons = document.querySelectorAll('.icons')
    const seconfaryMenu = document.querySelector(".secondary")
    
    menuIcons?.forEach(x=>{
            x.addEventListener('click', () =>{
              console.log("clicked")
            menuIcons.forEach(menuIcon => {
               if( menuIcon.classList.contains("hidden") ){
                menuIcon.classList.remove("hidden") 
                document.documentElement.style.cssText =
                  "overflow: hidden !important";
               }else{
                menuIcon.classList.add("hidden")
                document.documentElement.style.cssText =
                  "overflow: null !important";
                
               }

            menuIcons[1].classList.contains("hidden") ? seconfaryMenu?.classList.add("offEl") :seconfaryMenu?.classList.remove("offEl") 
        })
    })
})


</script>